/*
*
*=========THE COFFE ICON STYLES========
*
*/

.coffeeIcon {
    height: 7em;
    width: 7em;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-53%, -45%);
}

.coffeeIcon img {
    height: 100%;
    width: 100%;
}

.coffeeBounce {
    animation: coffeeBounce 2s ease-in-out infinite;
}

.coffeeDisappear {
    animation: coffeeDisappear 1s ease forwards;
}

@keyframes coffeeBounce {
    0% {
        transform: translate(-53%, -50%);
    }
    50% {
        transform: translate(-53%, -40%);
    }
    100% {
        transform: translate(-53%, -50%);
    }
}

@keyframes coffeeDisappear {
    from {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 7em;
        width: 7em;
        transform: translate(-53%, -45%);
    }
    to {
        position: absolute;
        top: 2.58rem;
        left: 50%;
        height: 2.5rem;
        width: 2.5rem;
        transform: translate(-55%, 0);
    }
}


/*
*
*===========THE TEXT STLYES=========
*
*/

.welcomeFrase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-82%, 4.1em);
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
}


/*
*
*==========THE LOGO STYLES===========
*
*/

.appLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(1.2em, 5.5em);
    height: 1.5em;
    width: 5em;
}

.appLogo img {
    height: 100%;
    width: 100%;
}

.textDisappear {
    animation: textDisappear 1s ease forwards;
}

@keyframes textDisappear {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}



/*
*
*==========COMPUTER SCREEN STYLES=========
*
*/

@media(min-width: 961px) {
    .coffeeIcon {
        height: 7em;
        width: 7em;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
    }

    .coffeeDisappear {
        animation: largeDisappear 1s ease forwards;
    }

    .welcomeFrase {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-84%, 4.3em);
        font-size: 1.3em;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .appLogo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(1em, 5.6em);
        height: 1.8em;
        width: 6em;
    }
}

@keyframes largeDisappear {
    from {
        height: 7em;
        width: 7em;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        z-index: 10;
    }
    to {
        height: 25em;
        width: 25em;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        opacity: 0;
    }
}